.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
  color: #ffffff;
}

.card + .card {
  border-left: solid 1px #ffffff34;
}

.card > img {
  width: 4rem;
  height: 4rem;
}

.name {
  background-color: #0000005e;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.temp {
  display: flex;
  flex-direction: column;
  width: 3rem;
  justify-content: center;
  text-align: center;
}

.temp + .temp {
  /* si existe un elemento a la derecha aplica el margen */
  margin-left: 1rem;
}
.temps {
  display: flex;
}

.button {
  border: solid 2px transparent;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  padding: 0;
  height: 1.5rem;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.25s, color 0.25s;
  cursor: pointer;
  color: red;
  /* margin-left: 0.5rem; */
  /* margin-right: -0.5rem; */
}

.button:hover {
  background-color: #b11818;
  color: #ffffff;
}
